.page-content {
  grid-column: 2/3;
  background-color: EFFFFD
}

.keywords {
  font-weight: bold;
}

.new-note-button {
  background-color: #7C3E66;
  color: white;
  border: transparent 2px solid;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 18px;
}

